.newsstand {
    background-color: #f7f9fa;
    border: 1px solid #dae1e6;
    width: 100%;
    height: 50px;
    /* height: auto; */
}

.newsstand .newsstand-header {
    width: 100%;
    height: 100%;
    display: flex;
}

.newsstand .newsstand-header .issue-area {
    width: 70%;
    height: 100%;
    margin-left: 20px;

    display: flex;
    align-items: center;
}

.newsstand .newsstand-header .issue-area .media-link {
    color: inherit;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    font-size: 13px;
    color: #000;
    letter-spacing: -.3px;
    font-weight: bold;

    padding-right: 12px;
    margin-right: 7px;
}

.newsstand .newsstand-header .issue-area .media-link::after {
    position: absolute;
    top: 4px;
    right: 0;
    display: inline-block;
    width: 6px;
    height: 10px;
    background-position: -262px -112px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';

    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-header .issue-area .issue-list a {
    color: inherit;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    /* width: 310px; */
    font-size: 13px;
}

.newsstand .newsstand-header .direct-area {    
    width: 30%;
    height: 100%;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.newsstand .newsstand-header .direct-area a {
    color: inherit;
    text-decoration: none;

    font-size: 13px;
    padding-left: 9px;
}

.newsstand .newsstand-header .direct-area .link_news::after {
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 0px 0 4px;
    vertical-align: 3px;
}

.newsstand .newsstand-title {
    background-color: blueviolet;

    display: flex;
    align-items: center;

    width: 100%;
    height: 59px;
}

.newsstand .newsstand-title > a {
    color: inherit;
    text-decoration: none;
    
    font-size: 14px;
    display: flex;
    align-items: center;

    /* width: 30%; */
}

.newsstand .newsstand-title .sort-area {
    color: inherit;
    text-decoration: none;
    
    font-size: 14px;
    display: flex;
    align-items: center;

    flex-grow: 1;
}

.newsstand .newsstand-title .sort-area > a {
    color: inherit;
    text-decoration: none;
    
    font-size: 14px;
    display: flex;
    align-items: center;

    text-align: center 
}

.newsstand .newsstand-title > a::before {
    display: inline-block;
    width: 27px;
    height: 24px;
    /* width: 100px;
    height: 100px; */
    background-position: -271px -342px;
    background-repeat: no-repeat;
    /* vertical-align: top; */
    content: '';
    /* margin: -6px 1px 0 0; */
    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-title > a::after {
    display: inline-block;
    width: 7px;
    height: 11px;
    background-position: -410px -213px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 6px;
    vertical-align: -1px;

    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-title .sort-area > a+a::before {
    background-color: #c7ccd1;
    display: inline-block;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: top;
    content: '';
    margin: 0 8px 0 4px;
    vertical-align: 3px;
}

.newsstand .newsstand-title .set-area {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}

.newsstand .newsstand-title .set-area a {
    padding: 0 6px;
}

.newsstand .newsstand-title .set-area .ico-list {
    display: inline-block;
    width: 14px;
    height: 13px;
    background-position: -244px -310px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;

    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-title .set-area .ico-tile {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-position: -276px -310px;
    background-repeat: no-repeat;
    vertical-align: top;

    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-title .set-area .ico-set {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: -102px -386px;
    background-repeat: no-repeat;
    vertical-align: top;
    opacity: .7;
    filter: alpha(opacity=70);
    margin: -1px 0 1px;

    background-image: url(../../assets/img/sp_main_947f65.png);
    background-size: 442px 428px;
}

.newsstand .newsstand-content {
    background-color: burlywood;

    width: 100%;
    height: 260px;
}

.newsstand .newsstand-content .newsstand-view-tile-list {
    background-color: yellow;
    width: 100%; 
    height: 100%; 
    display: grid; 
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.newsstand .newsstand-content .newsstand-view-tile-list .newsstand-view-tile-list-item {
    width: 100%;
    height: 100%;
}

.newsstand .newsstand-content .newsstand-view-tile-list .newsstand-view-tile-list-item:hover {
    background-color: #f7f9fa;
}

.newsstand .newsstand-content .newsstand-view-tile-list .newsstand-view-tile-list-item .thumb {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsstand .newsstand-content .newsstand-view-tile-list .newsstand-view-tile-list-item .popup-wrap {
    width: 100%;
    height: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.newsstand .newsstand-content .newsstand-view-tile-list .newsstand-view-tile-list-item .popup-wrap .popup-btn {
    display: inline-block;
    padding: 7px 8px 5px;
    background-color: #fff;
    border: 1px solid #dae1e6;
    font-size: 12px;
    line-height: 16px;
    color: #505050;
    vertical-align: top;
    text-decoration: none;
}

.newsstand .newsstand-content .newsstand-view-pick-list {
    background-color: orange; 
    width: 100%; 
    height: 100%;
    
    display: flex;
}

.newsstand .newsstand-content .newsstand-view-pick-list .category-box {
    background-color: #f7f9fa;
    /* border: 1px solid #dae1e6; */
    /* width: 163px; */
    height: 100%;
}

.newsstand .newsstand-content .newsstand-view-pick-list .category-box .category-box-list {
    padding: 0px 14px 3px;
    list-style: none;
}

.newsstand .newsstand-content .newsstand-view-pick-list .category-box .category-box-list .category-box-list-item {
    /* position: relative; */
    padding: 0 14px 0 18px;
    margin: 12px 0;
}

.newsstand .newsstand-content .newsstand-view-pick-list .category-box .category-box-list .category-box-list-item.on {
    padding: 0 14px 0 18px;
    height: 34px;
    line-height: 34px;
    margin: 8px 0 13px;
    background-color: #4063bd;
    -webkit-border-radius: 17px;
    border-radius: 17px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}

.newsstand .newsstand-content .newsstand-view-pick-list .category-box .category-box-list .category-box-list-item a {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 13px;
    color: inherit;
}
 
.newsstand .newsstand-content .newsstand-view-pick-list .category-box .category-box-list .category-box-list-item a:hover {
    text-decoration: underline;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box {
    background-color: aquamarine;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 17px 24px;
    overflow: hidden;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box {}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .media-link {
    float: left; 
    margin-right: 11px;
    color: #000;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .time {
    float: left;
    color: grey;
    font-size: 12px;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .plus-btn {
    float: left;
    padding: 3px 12px 2px 11px;
    margin: -4px 0 -2px 12px;
    background-color: #f7f9fa;
    border: 1px solid #e4e8eb;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    font-size: 11px;
    color: #404040;
    text-decoration: none;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .plus-btn:hover {
    text-decoration: underline;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .plus-btn::before{
    display: inline-block;
    width: 9px;
    height: 9px;
    background-position: -408px -135px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin: 5px 3px 0 0;

    background-image: url(../../assets/img/sp_main_947f65.png);
    -webkit-background-size: 442px 428px;
    background-size: 442px 428px;
    background-repeat: no-repeat;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .media-box .close-btn {
    width: 18px;
    height: 18px;
    background-position: -420px -206px;
    background-repeat: no-repeat;
    vertical-align: top;
    float: left;
    margin: 1px 0 0 8px;

    background-image: url(../../assets/img/sp_main_947f65.png);
    -webkit-background-size: 442px 428px;
    background-size: 442px 428px;
    background-repeat: no-repeat;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box {
    overflow: hidden;
    /* margin-top: 9px; */

    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .main-news {
    background-color: #4063bd;

    float: left;
    width: 196px;
    height: 100%;
    /* margin: 7px 24px 0 0; */
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .main-news .title {
    display: -webkit-box;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
    text-overflow: ellipsis;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    margin-top: 12px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: -.3px;

    color: #000;
    text-decoration: none;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .main-news .title:hover {
    text-decoration: underline;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .sub-news {
    background-color: beige;
    flex-grow: 1;

    overflow: hidden;
    padding-right: 12px;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .sub-news .list-news {
    font-size: 13px;
    line-height: 26px;

    padding: 10px 0px 0px 14px;
    margin: 0;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .sub-news .list-news .news-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .sub-news .list-news .news-item a {
    color: inherit;
    text-decoration: none;
}

.newsstand .newsstand-content .newsstand-view-pick-list .article-box .news-box .sub-news .list-news .news-item a:hover {
    text-decoration: underline;
}